.title {
  width: 100%;
  height: 20pc;
  text-align: center;
  font-size: 3rem;
  color: white;
  background-color: rgb(75, 71, 71);
  margin-bottom: 50px;
}

.banner {
  background-color: rgb(66, 0, 128);
  font-size: 2rem;
  height: 10pc;
  text-align: center;  
}

.clicky {
  padding-right: 8px;
}
